<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a style='font-weight: bolder;'class="navbar-brand" href="#"><img src="https://www.pngwing.com/public/css/pngwing.svg" weight="200" width="120" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link h5" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link h5" href="/about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link h5" href="/data">Data Visualization</a>
        </li>
      </ul>
    </div>
  </nav>